@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">MediaRadar puts lead generation at your fingertips by taking the guesswork out of ad sales. Transform your company’s prospecting techniques by tapping into our powerful tools that deliver personalized, multilayered insights on more than 2.3 million brands.</p>    
</div>